#chart1 {
  width: 50vw;
}

.bubblechart {
  display: flex;
  justify-content: center;
  place-items: center;
}

.statusUndefinedLegend {
  justify-content: center;
  place-items: center;
  display: flex;
  border-color: red;
}
